/* @font-face {
    font-family: 'sprayvetica';
    src: url('./assets/fonts/sprayvetica-33third.ttf');
} */

body {
  font-family: 'Oswald', sans-serif;
}

a {
    color: #10D0CD!important;
    font-size: 20px;
}

.bg-dark {
    background-color: #07020D!important;
}

.jumbotron {
  margin-bottom: 0px;
  background-color: #FFF;
}
